<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>edu.psu.educ.kerbprintd</string>
	<key>Program</key>
	<string>/usr/local/bin/kerbprintd</string>
	<key>WatchPaths</key>
	<array>
		<string>/etc/cups/printers.conf</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Library/Logs/kerbprintd.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/kerbprintd.log</string>
</dict>
</plist>